<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer class="footer" th:fragment="footer">
    <div class="row-fluid">
        <div class="span2">
            <h5>Shop Pet </h5>
            <a href="/"> Trang Chủ</a><br>
            <a href="/pages/2">Sản Phẩm</a><br>
            <a href="/gio-hang">Giở Hàng</a><br>
<!--            <a href="#">DISCOUNT</a><br>-->
<!--            <a href="#">ORDER HISTORY</a><br>-->
        </div>
        <div class="span2">
            <h5> Thông Tin </h5>
            <a href="#"> Liên hệ: 0962893432</a><br>
            <a href="#">Địa Chỉ: Số 8 Tôn Thất Thuyết</a><br>
            <a href="#">Lớp: T1808M1</a><br>
<!--            <a href="#">TERMS AND CONDITIONS</a><br>-->
<!--            <a href="#">ABOUT US</a><br>-->
        </div>
        <div class="span2">
            <h5>Thành Viên</h5>
            <a href="#">Phạm Việt Khánh</a> <br>
            <a href="#">Đoàn Đình Thành</a><br>
            <a href="#">Vũ Đức Long</a><br>
            <a href="#">Phan Văn Minh</a><br>
<!--            <a href="#">SUPPLIERS</a> <br/>-->
        </div>
        <div class="span6">
            <h5>Team Dân Chủ</h5>

        </div>
    </div>
</footer>

</html>